body {
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}
h1 {
    font-size: 2.4vw;
    margin-top: 5vh;
    color:gray;
    text-align: center;
}

.main {
    width: 40vw;
    position: fixed;
    left: 35.5vw;
}

.topBoxes {
    width: 100%;
    display: flex;
}

.label-container {
    width: 12vw;
    display: flex;
    flex-direction: column;
}

.input-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.input {
    border: 1px solid grey;
    border-radius: 3px;
}


label {
    margin-bottom: 15px;
}

#principal {
    width: 12vw;
    height: 1.2vw;
    margin-bottom: 14px;
}

#selectElementId {
    width: 2.3vw;
    height: 1.2vw;
    margin-top: -8px;
    font-size: .7vw;
}

#result-message {
    margin-left: 3vw;
    width: 20.5vw;
}

.name-text {
    margin-left: 3vw;
}

.compute-button {
    font-size: 1vw;
    width: 9vw;
    margin-left: auto;
    white-space: nowrap;
}

#highlighter {
    background-color: yellow; /*Highlight Color*/

}

.slider {
    width: 10.5vw;
}

.range-slider-value {
    font-size: .80vw;
    border-color: white;
}

/* REMOVE UP DOWN INCREMENT ARROWS FROM PRICIPAL INPUT  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}